.App {
  text-align: center;
  font-size: 50px;
}

.tic-tac-toe {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.grid {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
}
